@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
.container{
    border: solid 3px #931520;
    width: 800px;
    box-shadow: 5px 10px 8px #888888;
    font-family: Be Vietnam Pro;
    margin-left: 400px;   
}
.header{
    height: 120px;
    background-image: repeating-linear-gradient(40deg, #F5BB72, #F5BB72, white,#F5BB72, #F5BB72); 
    border-bottom: 3px solid #7D0104;
    display: flex;
    justify-content: flex-start;
}
.header__img{
    margin: 25px;
}
.header__content h3{
    font-style: italic;
    margin-top: -25px;
}
.header__content h3 a{
    text-shadow: 2px 2px 4px #701a22;
}
.content{
    display: flex;
    background-color: #FFFDEE;

}
.content__left{
    width: 130%;
    margin-left: 20px;
}
.content__left h2{
    margin-bottom: -10px;
}
.guest__list h3:first-child{
    margin-bottom: -15px;
}
.content__right{
    margin-right: 20px;
}
.content__header{
    border-bottom: 3px solid #931520;
}
.content__header p{
    margin-top: -10px;
    margin-bottom: -5px;
}
.content__header h2:last-child{
    margin-bottom: 10px;
}
.content__body{
    border-bottom: 3px solid #931520;
    position: relative;
}
.content__body img{
    position: absolute;
    top: 60px;
    right: 0px;
}
.content__body h2{
    margin-top: 10px;
}
.content__body h3{
    margin-top: -10px;
}
.content__body p{
    width: 280px;
    margin-top: -10px;
}
.content__footer h2{
    margin-top: 10px;
    color: #931520;
}
.content__footer ul{
    margin-left: -22px;
    margin-top: -10px;
}
footer{
    background-color: #931520;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
}
